.container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.item {
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: rgba(0, 0, 0, 0.05);
}
.item.highlight {
  animation: highlight 1s;
}
.item.error {
  animation: error 1s;
}
@keyframes highlight {
  0%,
  100% {
    background-color: rgba(0, 0, 0, 0.05);
  }
  50% {
    background-color: #ffedbc;
    color: black;
  }
}
@keyframes error {
  0%,
  50%,
  100% {
    background-color: rgba(0, 0, 0, 0.05);
  }
  25%,
  75% {
    background-color: rgb(255, 154, 154);
    color: black;
  }
}

.image {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 60%;
  border-radius: 0.5rem;
}

.cost {
  width: 1.6em;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 0 3px black;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #328dc5;
  margin-right: 0.5rem;
}

.name {
  line-height: 1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.count {
  margin-left: auto;
  width: 2em;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px black;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #494949;
}

.buttons {
  height: 1.5rem;
  position: absolute;
  right: 2.2em;
  top: 0;
  display: none;
  align-items: center;
}
.item:hover .buttons {
  display: flex;
}
@media (max-width: 1024px) {
  .buttons {
    display: flex;
  }
}
.buttons button {
  width: 1.5rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.buttons .plusButton {
  background-color: #bfff77;
  border-radius: 0.5rem 0 0 0.5rem;
}
.buttons .plusButton:disabled {
  background-color: #e0e0e0;
  color: #ababab;
}
.buttons .plusButton:not(:disabled):hover {
  background-color: #8ec84d;
}
.buttons .minusButton {
  background-color: #ffb6b6;
  border-radius: 0 0.5rem 0.5rem 0;
}
.buttons .minusButton:not(:disabled):hover {
  background-color: #e08c8c;
}
